.sun {
  padding: 20px 0;
  /* background: url("/assets/skylineBg.png"),
    radial-gradient(circle, rgba(125, 77, 15, 1) 0%, rgba(17, 13, 1, 1) 65%); */
  background: url("/assets/skylineBg.png"),
    radial-gradient(circle, rgba(125, 77, 15, 1) 0%, rgba(7, 6, 0, 1) 65%);

  background-repeat: repeat-x, no-repeat;
  background-position: bottom center, center center;

  /* remove later */
  padding-bottom: 155px;
}

.sun .section-header {
  margin-bottom: 10px;
}

.sun__info {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  color: #b2b2b3;
  display: flex;
  gap: 40px;
  margin-bottom: 16px;
}

.sun__info > li {
  position: relative;
}

.sun__info > li:not(:last-child)::after {
  content: "";
  background-color: var(--orange);
  width: 2px;
  height: 100%;
  position: absolute;
  right: -20px;
  top: 0;
}

.sun__info .info__time {
  color: white;
}

.sun__golden-hour {
  color: var(--orange);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1px;
}
