.watches {
  padding-top: 34px;
}

.watch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.watches__wrapper {
  margin-bottom: 38px;
  display: flex;
  flex-wrap: wrap;
}

.watch__header {
  color: var(--gray);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 9px;
  letter-spacing: 0.4px;
}

.watch:first-child {
  margin-right: 80px;
}

.watch__clock {
  margin-bottom: 5px;
}

.watch__description {
  position: relative;
}

.watch__time {
  font-size: 17px;
  color: var(--gray);
  font-weight: bold;
}

.watch__date {
  font-size: 11px;
  color: var(--dark-gray);
  position: absolute;
  top: -10px;
  right: -37px;
  white-space: nowrap;
}
