.city-header {
  display: flex;
}

.city-header .left {
  flex-grow: 1;
}

.city-header__info {
  display: flex;
}

.city-header__time {
  font-size: 72px;
  font-weight: bold;
  line-height: 0.8;
  color: var(--red);
  margin-right: 12px;
  letter-spacing: -1.6px;
}

.city-header__date {
  font-size: 18px;
  margin-bottom: 14px;
  letter-spacing: 0.5px;
}

.city-header__sun {
  font-size: 14px;
  letter-spacing: 0.4px;
}

.controlls {
  display: flex;
  flex-direction: column;
}

.controlls__item {
  width: 36px;
  height: 36px;
}
