.timezones {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("/assets/timezonesMap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 31px;
  padding-bottom: 42px;
}

.timezones .section-header {
  margin-bottom: 33px;
}

.timezones__info {
  font-size: 24px;
  font-weight: bold;
  color: #b2b2b3;
  margin-bottom: 20px;
  letter-spacing: -0.1px;
}

.timezones__info:last-of-type {
  margin-bottom: 38px;
}

.timezones__accent {
  color: var(--orange);
}

.timezones__divider {
  margin-bottom: 38px;
}

.timezones__other {
  font-size: 18px;
  font-weight: bold;
  margin-top: 32px;
  display: flex;
}

.timezones__other > p {
  margin-right: 12px;
}

.timezones__list {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.timezones__list > li {
  padding-left: 4px;
  padding-right: 4px;
}

.timezones__list > li > a {
  text-decoration: none;
  color: var(--lighter-blue);
}
