.sidebar {
  box-sizing: border-box;
  background-image: url("/assets/bgSidebar.svg");
  color: white;
  height: 100vh;
  left: 0;
  max-width: 280px;
  padding: 23px 33px;
  position: fixed;
  top: 0;
  width: 280px;
}
