.sidebar {
  box-sizing: border-box;
  position: fixed;
  width: 280px;
  max-width: 280px;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(156, 5, 5);
  color: white;
  padding: 23px 33px;
}
