.timedifference {
}

.timedifference__header {
  display: flex;
  align-items: center;
  margin-top: -3px;
  margin-bottom: -5px;
  padding-left: 3px;
}

.timedifference__header > .section-header {
  margin-right: 22px;
  margin-bottom: 0;
}

.timedifference__button {
  padding: 6px 13px;
  width: 46px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.timedifference__pm-button {
  background-color: #192936;
  color: white;
}
.timedifference__24-button {
  background-color: #385573;
  color: #141618;
}

.timedifference__info {
  color: #b2b2b3;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 22px;
  letter-spacing: 0.5px;
}

.timedifference__accent {
  color: var(--orange);
}

.timedifference__options {
  color: var(--lighter-blue);
  text-decoration: underline;
}

.timedifference__component {
  background-color: #11161e;
  padding-bottom: 11px;
  padding-top: 31px;
}
